@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alumni+Sans+Inline+One:ital@1&family=Dancing+Script&family=Edu+TAS+Beginner&family=Kenia&family=Oswald:wght@200;400&display=swap');

.titulo1{
    background-color: rgb(233, 156, 201);
    font-size: 2rem;
    color: white;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}
.titulo2{
    font-family: 'Oswald', sans-serif;
}
.titulo3{
    font-family: 'Oswald', sans-serif;
}
.contenedor{
    display: flex;
    justify-content: center;
}
button{
    background-color: transparent;
    color: azure;
    font-family: 'Oswald', sans-serif;
    border-radius: 20px;
}
button{
    background-color: black;
}
body{
    background: rgb(241,225,251);
    background: linear-gradient(90deg, rgba(241,225,251,1) 0%, rgba(246,0,249,1) 50%, rgba(109,112,235,1) 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.table{
    border-collapse: collapse;
}
.table td{
    border: 1px solid;
    text-align: center;
}
.table th{
    background-color: pink;
    color: white;
}
.table td:hover{
    background-color: lightcoral;
    color: white;
}
.table th:hover{
    background-color: lightpink;
    color: purple;
}
.td{
    font-weight: bold;
}
caption{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}